<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div *ngIf="isLoginForm" class="card-body">
          <h5 class="card-title text-center">Login</h5>
          <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="email" id="inputEmail" (change)="onEmail()" class="form-control"  formControlName="email" placeholder="Email address" required autofocus>
              <div class="text-danger" *ngIf="form.get('email').invalid && form.get('email').touched">
                <span class="error-message" *ngIf="form.get('email').errors.required">Please enter an email</span>
            </div>
            <div class="text-danger" *ngIf="form.get('email').errors?.email">
              <span class="error-message">Please enter a valid email.</span>
          </div>
            </div>  
            <div class="custom-control custom-checkbox mb-3">
              <re-captcha  (resolved)="resolved($event)" siteKey="6LcNvNEUAAAAACvzvhAF7GqFVRo2NrWr3gr48ybN"></re-captcha>
            </div>
            <div class="text-danger captcha" *ngIf="isCaptchaField">
              <span class="error-message" *ngIf="isCaptchaField">{{captchaMessage}}</span>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!form.valid" type="submit">Send Email</button>
            <hr class="my-4">
           </form>
        </div>
        <div class="card-body" *ngIf="succesMessage"><h2>Login link sent to your email! <img src="../../assets/images/success.svg" width="50" height="50"></h2></div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>